<div id="user-signup">

<h1>Signup!</h1>

  <%= form_tag '/users', :method => 'CREATE', :id => 'new-user-form' do %>
  
  <%= label_tag(:f_name, "First Name")%>
  <%= text_field(:user, :f_name )%><br>

 	<%= label_tag(:l_name, "Last Name")%>
  <%= text_field(:user, :l_name )%><br>

  <%= label_tag(:email, "Email")%>
  <%= email_field(:user, :email)%><br>

  <%= label_tag(:user, "Password")%>
  <%= password_field(:user, :password)%><br>

  <%= label_tag(:password_confirmation, "Confirm Password")%>
  <%= password_field(:user, :password_confirmation)%><br>

  <%= submit_tag "Signup" %>
<% end %>


</div>



