
<h1>Businesses</h1>
<!-- 
<% if @businesses %>

	<% @businesses.each do |business| %>
		<ul>
			
			<li> <%= link_to business.name, business_path(business)%> </li>

		</ul>
	
	<% end %>

<% end %> -->

<% biz_array = [] %>
<% neigh_array = [] %>

<% @parsed['businesses'].each do |biz| %>

	<p><a href="/businesses/<%=biz['id']%>"><%=biz['name']%></a></p>
	<a href="/businesses/<%=biz['id']%>"><img src="<%=biz['image_url']%>" alt=""></a>

	<% location = biz['location'] %>
	<% phone = biz['display_phone'] %>

	<%= location['address'][0] %>
	<%= location['city'] %>
	<%= location['state_code'] %>
	<%=	location['postal_code'] %>
	
	<% if location['neighborhoods'] %>
		<% neigh_array << location['neighborhoods'][0] %>
	<% end %>
	
	<% if location['neighborhoods'] %>
		<% neigh_array << location['neighborhoods'][1] %>
	<% end %>

	<% if location['neighborhoods'] %>
		<% neigh_array << location['neighborhoods'][2] %>
	<% end %>

	<%= neigh_array.compact.join(', ') %>
	<% neigh_array = []%>


	
	<h3><%= phone.gsub('+', '') %></h3>

	<% biz_array << biz['categories'][0][0] %>
	
	<% if biz['categories'][1] %>
		<% biz_array << biz['categories'][1][0] %>
	<% end %>

	<% if biz['categories'][2] %>
		<% biz_array << biz['categories'][2][0] %>
	<% end %>

	<%= biz_array.join(', ') %>
	<% biz_array = []%>
	
	<a href="/businesses/<%=biz['id']%>"><button>Go!</button></a>

<% end %>




