
<h1>Businesses</h1>
<!-- 
<% if @businesses %>

	<% @businesses.each do |business| %>
		<ul>
			
			<li> <%= link_to business.name, business_path(business)%> </li>

		</ul>
	
	<% end %>

<% end %> -->

<% @parsed['businesses'].each do |biz| %>

	<p><a href="/businesses/<%=biz['id']%>"><%=biz['name']%></a></p>
	<a href="/businesses/<%=biz['id']%>"><img src="<%=biz['image_url']%>" alt=""></a>

	<% location = biz['location'] %>
	<% phone = biz['display_phone'] %>

	<%= location['address'][0] %>
	<%= location['city'] %>
	<%= location['state_code'] %>
	<%=	location['postal_code'] %>
	
	<% if biz['neighborhoods'] %>
		<%=	biz['neighborhoods'] %>
	<% end %>

	<h3><%= phone.gsub('+', '') %></h3>

	<% if biz['categories'] %>
		<%=	biz['categories'] %>
	<% end %>


	<a href="/businesses/<%=biz['id']%>"><button>Go!</button></a>

<% end %>




