
<h1>Search</h1>
<!-- 
<% if @businesses %>

	<% @businesses.each do |business| %>
		<ul>
			
			<li> <%= link_to business.name, business_path(business)%> </li>

		</ul>
	
	<% end %>

<% end %> -->

<div class="pure-g">
		<% @parsed['businesses'].each do |biz| %>

			<div class="pure-u-1-3">
					<a href="/businesses/<%=biz['id']%>"><img src="<%=biz['image_url']%>" alt=""></a>
			</div>
				
			<div class="pure-u-1-3">
					<h3 class="name"><a href="/businesses/<%=biz['id']%>"><%=biz['name']%></a></h3>
					<% if biz['categories'] %>
						<p class="cateogory"><%=biz['categories'] %></p>
					<% end %>
			</div>


			<div class="pure-u-1-3">
				<% location = biz['location'] %>
				<% phone = biz['display_phone'] %>
					<% if biz['neighborhoods'] %>
						<div class="neighborhood">
							<br><%=	biz['neighborhoods'] %>
						</div>
					<% end %>
				<%= location['address'][0] %>
				<%= location['city'] %>
				<br><%= location['state_code'] %>
				<%=	location['postal_code'] %>
				
				<br><%= phone.gsub('+', '') %><br>

				<% if biz['neighborhoods'] %>
					<a href="/businesses/<%=biz['id']%>"><button class="button-large pure-button">Go!</button></a>
				<% else %>
					<a href="/businesses/<%=biz['id']%>"><button class="button-large pure-button no-neighb">Go!</button></a>
				<% end %>
			</div>

		<% end %>
</div>




