
<% @businesses.each do |business| %>

<div class="pure-g">

<div class="pure-u-1-2">
<a href="/businesses/<%=business[:id]%>"><img src="<%= business[:photo] %>" alt=""></a>
</div>
<div class="pure-u-1-2">
<div class="float-right width">
<h3> <a href="/businesses/<%=business[:id]%>"><%= business[:name] %></a></h3>
<h3><%= business[:address]%></h3>
<h3><%= business[:phone] %></h3>
<form action="/businesses/<%=business[:id]%>">
    <input type="submit" value='Go' class='button-large button'>
</form>
</div>
</div>
</div>
<hr>
<% end %>


