
<div id="rate" style="display:none">
	<img id="dislike" src="/assets/x_unchecked.png">
	<img id="like" src="/assets/unchecked_heart.png">
	<%= radio_button_tag(:button, true) %>
	<%= label_tag(:like_button, "Like Me?") %>
	<%= radio_button_tag(:button, false) %>
	<%= label_tag(:dislike_button, "Don't like") %>
	<button class="pure-button pure-button-primary">SUBMIT</button>
<!-- 	<%= submit_tag("SUBMIT") %>
 -->	
</div>

<%= link_to_modal "RATE EMPLOYEE", "#rate",  :class => "button-secondary pure-button" %>

















<div id="form" style="display:none">
<%= form_tag('/businesses/' + @business[:fs_id] + '/jobs', method: 'post') do %>
<%= label_tag(:position, "JOB POSITION:")%>
<%= text_field_tag(:position) %>
<%= hidden_field_tag(:id, @business.id) %>
<h1><%= @business[:name] %></h1>
<%= submit_tag("submit") %>
<% end %>
</div>

<%= link_to_modal "I work here!", "#form",  :class => "button-secondary pure-button" %>

<h1><%= @business[:name] %></h1>
<% @employees.each do |employee| %>
<% array = [] %>
	<a href="/businesses/<%=employee.business[:fs_id]%>/jobs/<%=employee.id%>"><h3><%=employee.user.fullname %></h3></a>
		<% employee.ratings.each do |ratings| %>
			<% if ratings.good == true %>
				<% x = ratings.good %>
				<% array.push(x) %>
				<% end %>
		<% end %>
	<h3>RATING: <%= array.length %></h3>
<% end %>